<div class="content">
  <div>
    <p-table [value]="elements" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>
            <a [routerLink]="['/details', element.id]">{{ element.id }}</a>
          </td>
          <td>{{ element.title }}</td>
          <td>
            <a [routerLink]="['/author', element.author]">{{
              element.author
            }}</a>
          </td>
          <td>
            <button
              pButton
              type="button"
              class="p-button-raised p-button-rounded"
              icon="pi pi-trash"
              (click)="deleteRecordFromTable(element.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-history></app-history>
</div>
